* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  padding: 0rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  /* background-repeat: no-repeat;
  background-size: cover; */
}
h1 {
  color: #000;
  text-align: center;
  margin: 1.5rem 0rem;
}
button {
  background-color: d9e7ff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  font-size: 20px;
}
button:hover {
  background-color: #d9e7ff;
  color: #3393e1;
}
